# ASSIGNMENT CONFIG
requirements: requirements.R
generate:
    show_hidden: true
    show_stdout: true
    channel_priority_strict: false
environment: environment.yml
files:
  - img

## Worksheet 4

Welcome to worksheet 4! This worksheet was designed to allow you to practice what was covered in the assigned readings & lectures/videos/recordings. The labs problems will be more challenging then those in the worksheet, and the worksheet questions will help prepare you for them. Time will be provided to work on the worksheets in small groups during lecture, however it is not expected that you will complete the worksheet in this time. You are expected to spend some indpendent time working on the worksheet after lecture. 

**Worksheets are due on Saturdays at 6pm, and must be submitted as `.ipynb` files to Gradescope.**

### Worksheet mechanics

- You submit a `.ipynb` version of this homework to Gradescope.
- **There is autograding in this lab, so please do not move or rename this file. Also, do not copy and paste cells, if you need to add new cells, create new cells via the "Insert a cell below" button instead.**

Run the cell below to load the libraries needed for this worksheet, and to check your answers as you go!

In [1]:
library(nycflights13)
library(repurrrsive)
library(tidyverse)
library(testthat)
library(digest)
options(repr.matrix.max.rows = 20)

── Attaching packages ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches

# BEGIN QUESTION
name: ex1
points: 1

### Exercise 1
rubric={autograde:1}

We have given you two data sets below of highly important data, and we want to join these two data sets so that we can make a data visualization at some point in the future. Use `left_join` to do this. Bind the name `flavours_and_vessls` to the data frame.

In [2]:
flavour <- tibble(name = c("Joel", "Joel",
                    "Mike", "Mike", "Mike",
                    "Tiff", "Tiff",
                    "Tom", 
                    "Vincenzo", "Vincenzo", "Vincenzo",
                    "Arman", "Arman",
                    "Florencia", "Florencia"),
                    flavour =c("Dark chocolate/pistachio/vanilla combo", "Chocolate",
                    "Green tea", "Coconut", "Mint Chocolate Chip",
                    "Salted caramel", "Mint Chocolate Chip",
                    "Oreo",
                    "Strawberry", "Salted Caramel", "Lemon",
                    "Vanilla", "Pistachio",
                    "Strawberry", "Lemon"))
    
vessel <- tibble(name = c("Joel", "Mike", "Tiff", "Tom", "Vincenzo", "Arman", "Florencia"),
                 vessel = c("Vegan cone", "Cone", "Cone", "Cone", "Cone", "Cone", "Bowl"))

flavour
vessel

   name      flavour
1  Joel      Dark chocolate/pistachio/vanilla combo
2  Joel      Chocolate
3  Mike      Green tea
4  Mike      Coconut
5  Mike      Mint Chocolate Chip
6  Tiff      Salted caramel
7  Tiff      Mint Chocolate Chip
8  Tom       Oreo
9  Vincenzo  Strawberry
10 Vincenzo  Salted Caramel
11 Vincenzo  Lemon
12 Arman     Vanilla
13 Arman     Pistachio
14 Florencia Strawberry
15 Florencia Lemon

  name      vessel
1 Joel      Vegan cone
2 Mike      Cone
3 Tiff      Cone
4 Tom       Cone
5 Vincenzo  Cone
6 Arman     Cone
7 Florencia Bowl

# BEGIN SOLUTION

In [3]:
flavours_and_vessls <- NULL
# BEGIN SOLUTION NO PROMPT
flavours_and_vessls <- left_join(vessel, flavour)
# END SOLUTION

flavours_and_vessls

Joining, by = "name"

   name      vessel     flavour
1  Joel      Vegan cone Dark chocolate/pistachio/vanilla combo
2  Joel      Vegan cone Chocolate
3  Mike      Cone       Green tea
4  Mike      Cone       Coconut
5  Mike      Cone       Mint Chocolate Chip
6  Tiff      Cone       Salted caramel
7  Tiff      Cone       Mint Chocolate Chip
8  Tom       Cone       Oreo
9  Vincenzo  Cone       Strawberry
10 Vincenzo  Cone       Salted Caramel
11 Vincenzo  Cone       Lemon
12 Arman     Cone       Vanilla
13 Arman     Cone       Pistachio
14 Florencia Bowl       Strawberry
15 Florencia Bowl       Lemon

# END SOLUTION

# BEGIN TESTS

In [4]:
# TESTS
expect_true(is.data.frame(flavours_and_vessls))
expect_equal(nrow(flavours_and_vessls), 15)
expect_equal(ncol(flavours_and_vessls), 3)
expect_equal(paste(tolower(sort(colnames(flavours_and_vessls))), collapse = ""), 'flavournamevessel')
expect_equal(paste(tolower(sort(unique(flavours_and_vessls$name))), collapse = ""), 'armanflorenciajoelmiketifftomvincenzo')
expect_equal(paste(tolower(sort(unique(flavours_and_vessls$flavour))), collapse = ""), 'chocolatecoconutdark chocolate/pistachio/vanilla combogreen tealemonmint chocolate chiporeopistachiosalted caramelsalted caramelstrawberryvanilla')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex2
points: 1

### Exercise 2
rubric={autograde:1}

Use {dplyr}'s `left_join` to add the the location of the destination (i.e. the `lat` and `lon`) from the {nycflights13} `airports` data frame to the `flights` data frame. The column in the `flights` data frame you should be joining on is `dest`. Bind the name `flight_dests` to your final data frame.

*Hint: if you the column names you want to join on don't match, try using the `by` argument.*

# BEGIN SOLUTION

In [5]:
flight_dests <- NULL
# BEGIN SOLUTION NO PROMPT
location <- airports |> 
    select(faa, lat, lon)
flight_dests <- left_join(flights, location, by = c("dest" = "faa"))
# END SOLUTION

head(flight_dests)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier ⋯ tailnum origin dest air_time distance hour minute
1  11       UA      ⋯ N14228  EWR    IAH  227      1400     5    15
2  20       UA      ⋯ N24211  LGA    IAH  227      1416     5    29
3  33       AA      ⋯ N619AA  JFK    MIA  160      1089     5    40
4 -18       B6      ⋯ N804JB  JFK    BQN  183      1576     5    45
5 -25       DL      ⋯ N668DN  LGA    ATL  116       762     6     0
6  12       UA      ⋯ N39463  EWR    ORD  150       719     5    58
  time_hour           lat      lon
1 2013-01-01 05:00:00 29.98443 -95.34144
2 2013-01-01 05:00:00 29.98443 -95.34144
3 2013-01-01 05:00:00 25.79325 -80.29056
4 2013-01-01 05:00:00       NA        NA
5 2013-01-01 06:00:00 33.63672 -84.42807
6 2013-01-01 05:00:00 41.97860 -87.90484

# END SOLUTION

# BEGIN TESTS

In [6]:
# TESTS
expect_true(is.data.frame(flight_dests))
expect_equal(nrow(flight_dests), 336776)
expect_equal(ncol(flight_dests), 21)
expect_equal(paste(tolower(sort(colnames(flight_dests))), collapse = ""), 'air_timearr_delayarr_timecarrierdaydep_delaydep_timedestdistanceflighthourlatlonminutemonthoriginsched_arr_timesched_dep_timetailnumtime_houryear')
expect_equal(round(sum(flight_dests$lat, na.rm = TRUE)), round(sum(flight_dests$lat, na.rm = TRUE)))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex3
points: 1

### Exercise 3
rubric={autograde:1}

Going back now to our ice cream flavour and vessel data sets, there are two people in that data set who are (sadly!) no longer MDS core teaching team members. Use `inner_join` and the third data set provided below, `core_teaching_team_members`, to get back just the data from `flavours_and_vessls` (the data frame you made exercise 1) for the people listed in there, but only if we have data on their preferred ice cream flavours and vessels. Bind the name `core_flavours_and_vessls` to this data frame.

In [7]:
core_teaching_team_members <- tibble(name = c("Alexi", "Mike", "Joel", "Tiff", 
                                     "Varada", "Gittu", "Arman", "Florencia", "Quan"))
core_teaching_team_members

  name
1 Alexi
2 Mike
3 Joel
4 Tiff
5 Varada
6 Gittu
7 Arman
8 Florencia
9 Quan

# BEGIN SOLUTION

In [8]:
core_flavours_and_vessls <- NULL
# BEGIN SOLUTION NO PROMPT
core_flavours_and_vessls <- inner_join(core_teaching_team_members, flavours_and_vessls)
# END SOLUTION

core_flavours_and_vessls

Joining, by = "name"

   name      vessel     flavour
1  Mike      Cone       Green tea
2  Mike      Cone       Coconut
3  Mike      Cone       Mint Chocolate Chip
4  Joel      Vegan cone Dark chocolate/pistachio/vanilla combo
5  Joel      Vegan cone Chocolate
6  Tiff      Cone       Salted caramel
7  Tiff      Cone       Mint Chocolate Chip
8  Arman     Cone       Vanilla
9  Arman     Cone       Pistachio
10 Florencia Bowl       Strawberry
11 Florencia Bowl       Lemon

# END SOLUTION

# BEGIN TESTS

In [9]:
# TESTS
expect_true(is.data.frame(core_flavours_and_vessls))
expect_equal(nrow(core_flavours_and_vessls), 11)
expect_equal(ncol(core_flavours_and_vessls), 3)
expect_equal(paste(tolower(sort(colnames(core_flavours_and_vessls))), collapse = ""), 'flavournamevessel')
expect_equal(paste(tolower(sort(unique(core_flavours_and_vessls$name))), collapse = ""), 'armanflorenciajoelmiketiff')
expect_equal(paste(tolower(sort(unique(core_flavours_and_vessls$flavour))), collapse = ""), 'chocolatecoconutdark chocolate/pistachio/vanilla combogreen tealemonmint chocolate chippistachiosalted caramelstrawberryvanilla')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex4
points: 1

### Exercise 4
rubric={autograde:1}

Now use `full_join` on the same two data sets you joined in exercise 3. Bind the name `full_core_flavours_and_vessls` to the data frame. Note the difference between the date frame you get in this exercise and the one you got in exercise 3.

# BEGIN SOLUTION

In [10]:
full_core_flavours_and_vessls <- NULL
# BEGIN SOLUTION NO PROMPT
full_core_flavours_and_vessls <- full_join(core_teaching_team_members, flavours_and_vessls)
# END SOLUTION

full_core_flavours_and_vessls

Joining, by = "name"

   name      vessel     flavour
1  Alexi     NA         NA
2  Mike      Cone       Green tea
3  Mike      Cone       Coconut
4  Mike      Cone       Mint Chocolate Chip
5  Joel      Vegan cone Dark chocolate/pistachio/vanilla combo
6  Joel      Vegan cone Chocolate
7  Tiff      Cone       Salted caramel
8  Tiff      Cone       Mint Chocolate Chip
9  Varada    NA         NA
10 Gittu     NA         NA
11 Arman     Cone       Vanilla
12 Arman     Cone       Pistachio
13 Florencia Bowl       Strawberry
14 Florencia Bowl       Lemon
15 Quan      NA         NA
16 Tom       Cone       Oreo
17 Vincenzo  Cone       Strawberry
18 Vincenzo  Cone       Salted Caramel
19 Vincenzo  Cone       Lemon

# END SOLUTION

# BEGIN TESTS

In [11]:
paste(tolower(sort(unique(full_core_flavours_and_vessls$flavour))), collapse = "")

[1] "chocolatecoconutdark chocolate/pistachio/vanilla combogreen tealemonmint chocolate chiporeopistachiosalted caramelsalted caramelstrawberryvanilla"

In [12]:
# TESTS
expect_true(is.data.frame(full_core_flavours_and_vessls))
expect_equal(nrow(full_core_flavours_and_vessls), 19)
expect_equal(ncol(full_core_flavours_and_vessls), 3)
expect_equal(paste(tolower(sort(colnames(full_core_flavours_and_vessls))), collapse = ""), 'flavournamevessel')
expect_equal(paste(tolower(sort(unique(full_core_flavours_and_vessls$name))), collapse = ""), 'alexiarmanflorenciagittujoelmikequantifftomvaradavincenzo')
expect_equal(paste(tolower(sort(unique(full_core_flavours_and_vessls$flavour))), collapse = ""), 'chocolatecoconutdark chocolate/pistachio/vanilla combogreen tealemonmint chocolate chiporeopistachiosalted caramelsalted caramelstrawberryvanilla')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex5
points: 1

### Exercise 5
rubric={autograde:1}

Explore what the result of `anti_join(flights, airports, by = c("dest" = "faa"))` looks like, and what the result of `anti_join(airports, flights, by = c("faa" = "dest"))` looks like. Then answer the multiple choice question below.

In [13]:
flights_first <- anti_join(flights, airports, by = c("dest" = "faa"))
head(flights_first)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   544      545            -1        1004     1022
2 2013 1     1   615      615             0        1039     1100
3 2013 1     1   628      630            -2        1137     1140
4 2013 1     1   701      700             1        1123     1154
5 2013 1     1   711      715            -4        1151     1206
6 2013 1     1   820      820             0        1254     1310
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
2 -21       B6       709   N794JB  JFK    SJU  182      1598     6    15
3  -3       AA       413   N3BAAA  JFK    SJU  192      1598     6    30
4 -31       UA      1203   N77296  EWR    SJU  188      1608     7     0
5 -15       B6       715   N651JB  JFK    SJU  190      1598     7    15
6 -16       B6       717   N527JB  JFK    SJU  190      1598     8    20
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 06:00:00
3 2013-01-01 06:00:00
4 2013-01-01 07:00:00
5 2013-01-01 07:00:00
6 2013-01-01 08:00:00

In [14]:
airports_first <- anti_join(airports, flights, by = c("faa" = "dest"))
head(airports_first)

  faa name                           lat      lon       alt  tz dst
1 04G Lansdowne Airport              41.13047 -80.61958 1044 -5 A
2 06A Moton Field Municipal Airport  32.46057 -85.68003  264 -6 A
3 06C Schaumburg Regional            41.98934 -88.10124  801 -6 A
4 06N Randall Airport                41.43191 -74.39156  523 -5 A
5 09J Jekyll Island Airport          31.07447 -81.42778   11 -5 A
6 0A9 Elizabethton Municipal Airport 36.37122 -82.17342 1593 -5 A
  tzone
1 America/New_York
2 America/Chicago
3 America/Chicago
4 America/New_York
5 America/New_York
6 America/New_York

Which statement below is correct about why the data frames `flights_first` and `airports_first` are different?

A. Because this is a filtering join where all rows from the second data frame are returned where there are not matching values in the first data frame.

B. Because this is a filtering join where all rows from the first data frame are returned where there are not matching values in the second data frame.

C. Because this is a mutating join where all rows from the second data frame are returned where there are not matching values in the first data frame, as well as all rows from the first data frame are returned where there are not matching values in the second data frame.

D. Because this is a mutating join where all rows from the first data frame are returned where there are not matching values in the second data frame, as well as all from the second data frame where there are not matching values in the first data frame.


Bind the name `answer_5` to either `"A"`, `"B"`, `"C"` or `"D"`, corresponding to which statement above you believe to be correct.

# BEGIN SOLUTION

In [15]:
answer_5 <- NULL
# BEGIN SOLUTION NO PROMPT
answer_5 <- "B"
# END SOLUTION

answer_5

[1] "B"

# END SOLUTION

# BEGIN TESTS

In [16]:
# TESTS
expect_equal(digest(answer_5), '3a5505c06543876fe45598b5e5e5195d')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex6
points: 0
manual: true

### Exercise 6
{not graded - solution at the end of the notebook}

Use a `for` loop to print out the song lyrics, one per line in the way they would be sung (one song line corresponds to an element in the vector), in the provided vector.

In [17]:
lyrics <- c("If there was a problem yo I'll solve it", "Check out the hook while my DJ revolves it", "Ice ice baby", "vanilla, Ice ice baby", "vanilla, Ice ice baby", "vanilla Ice ice baby", "vanilla")

# BEGIN SOLUTION

In [18]:
# YOUR CODE HERE
# BEGIN SOLUTION NO PROMPT
for (line in lyrics) {
    print(line)
}
# END SOLUTION

[1] "If there was a problem yo I'll solve it"
[1] "Check out the hook while my DJ revolves it"
[1] "Ice ice baby"
[1] "vanilla, Ice ice baby"
[1] "vanilla, Ice ice baby"
[1] "vanilla Ice ice baby"
[1] "vanilla"

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: ex7
points: 1

### Exercise 7
rubric={autograde:1}

Remember that you learned how to get a specific Game of Thrones character name from the `got_chars` data set from the {repurrrsive} data package last week? Now that you have learned loops in R, you have the skills to create a vector containing the names of all of the Game of Thrones characters from that list. 

Your task is to do just that, create a character vector containing all the names of characters from the `got_chars` data set. Bind the name `names` to that vector. 

Hint: never grow a vector, list or data frame inside a for loop in R (or Python)! Pre-allocate an object where things will be put in during the loop. To get you started, we provide the pre-allocated vector for you.

# BEGIN SOLUTION

In [19]:
names <- character(length(got_chars))
# YOUR CODE HERE
# BEGIN SOLUTION NO PROMPT
for (i in seq_along(got_chars)) {
    names[i] <- got_chars[[i]]$name
}
# END SOLUTION

names

 [1] "Theon Greyjoy"      "Tyrion Lannister"   "Victarion Greyjoy"
 [4] "Will"               "Areo Hotah"         "Chett"
 [7] "Cressen"            "Arianne Martell"    "Daenerys Targaryen"
[10] "Davos Seaworth"     "Arya Stark"         "Arys Oakheart"
[13] "Asha Greyjoy"       "Barristan Selmy"    "Varamyr"
[16] "Brandon Stark"      "Brienne of Tarth"   "Catelyn Stark"
[19] "Cersei Lannister"   "Eddard Stark"       "Jaime Lannister"
[22] "Jon Connington"     "Jon Snow"           "Aeron Greyjoy"
[25] "Kevan Lannister"    "Melisandre"         "Merrett Frey"
[28] "Quentyn Martell"    "Samwell Tarly"      "Sansa Stark"

# END SOLUTION

# BEGIN TESTS

In [20]:
# TESTS
expect_true(is.character(names))
expect_equal(length(names), 30)
expect_false(is.list(names))
expect_equal(digest(paste(sort(tolower(names)), collapse = "")), '0412318aa56aaeedd35bd633bc98e3db')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex8
points: 1

### Exercise 8
rubric={autograde:1}

Consider the prototype code for an exercise app you are writing in R. Rearrange the jumbled code below so that 20 repetitions are prescibed if the exercise is lunges, 25 repetitions are prescribed if the exercise is squats, and 15 repetitions are prescibed the exercise is burpees, and 10 repetitions for any other type of exercise. `exercise` shoud point to the value `'burpees'`.

# BEGIN SOLUTION

In [21]:
# } else if (exercise == 'burpees') {
#     } else {
#     reps <- 20
# print(reps)
#     reps <- 25
# exercise <- 'burpees'
# } else if (exercise == 'squats') {
#     reps <- 15
#     reps <- 10
# }
# if (exercise == 'lunges') {    

# REARRANGED CODE HERE
# BEGIN SOLUTION NO PROMPT
exercise <- 'burpees'
if (exercise == 'lunges') {
    reps <- 20
} else if (exercise == 'squats') {
    reps <- 25
} else if (exercise == 'burpees') {
    reps <- 15
} else {
    reps <- 10
}
print(reps)
# END SOLUTION

[1] 15

# END SOLUTION

# BEGIN TESTS

In [22]:
# TESTS
expect_equal(exercise, 'burpees')
expect_equal(reps, 15)

# END TESTS

# END QUESTION

Now, perform the number of burpee reps that R printed out for you. Joking of course! ;p

Congratulations! You are done the worksheet!!! Pat yourself on the back, and submit your worksheet to Gradescope!

> ### Exercise 6 solution
>
>```
>for (line in lyrics) {
>    print(line)
>}
>```