# ASSIGNMENT CONFIG
requirements: requirements.R
generate:
    show_hidden: true
    show_stdout: true
    channel_priority_strict: false
environment: environment.yml
files:
  - img

## Worksheet 5

Welcome to worksheet 5! This worksheet was designed to allow you to practice what was covered in the assigned readings & lectures/videos/recordings. The labs problems will be more challenging then those in the worksheet, and the worksheet questions will help prepare you for them. Time will be provided to work on the worksheets in small groups during lecture, however it is not expected that you will complete the worksheet in this time. You are expected to spend some indpendent time working on the worksheet after lecture. 

**This worksheet due on Sunday at 12pm, and must be submitted as `.ipynb` files to Gradescope.**

### Worksheet mechanics

- You submit a `.ipynb` version of this homework to Gradescope.
- **There is autograding in this lab, so please do not move or rename this file. Also, do not copy and paste cells, if you need to add new cells, create new cells via the "Insert a cell below" button instead.**

Run the cell below to load the libraries needed for this worksheet, as well as to check your answers as you go!

In [1]:
library(nycflights13)
library(palmerpenguins)
library(repurrrsive)
library(tidyverse)
library(digest)
library(testthat)
options(repr.matrix.max.rows = 10)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches

### Exercise 1
rubric={autograde:1}

<img src="img/dplyr_case_when.png" width=500>

*Illustration by Allison Horst*

Given the data set below, use `mutate` + `case_when` to selectively change the more verbose province names (e.g., "Alberta" & "British Columbia") to the acronyms (e.g., "AB" & "BC"). Bind the name `fixed` to the tibble you create.

# BEGIN QUESTION
name: ex1
points: 1

# BEGIN SOLUTION

In [2]:
fix_me <- tribble(
  ~province,             ~cities,
  "BC",                  "Victoria",
  "Alberta",             "Edmonton",
  "SK",                  "Regina",
  "British Columbia",    "Vancouver",
  "Alberta",             "Calgary",
  "BC",                  "Kelowna",
  "AB",                  "Lethbridge",
  "SK",                  "Saskatoon"
)

fixed <- NULL
# BEGIN SOLUTION NO PROMPT
fixed <- fix_me %>% 
    mutate(province = case_when(province == "Alberta" ~ "AB",
                               province == "British Columbia" ~ "BC",
                               TRUE ~ province))
# END SOLUTION

fixed

  province cities
1 BC       Victoria
2 AB       Edmonton
3 SK       Regina
4 BC       Vancouver
5 AB       Calgary
6 BC       Kelowna
7 AB       Lethbridge
8 SK       Saskatoon

# END SOLUTION

# BEGIN TESTS

In [3]:
# TESTS
answer <- fixed
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 8)
expect_equal(ncol(answer), 2)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'citiesprovince')
expect_equal(paste(tolower(sort(unique(answer$province))), collapse = ""), 'abbcsk')
expect_equal(paste(tolower(sort(unique(answer$cities))), collapse = ""), 'calgaryedmontonkelownalethbridgereginasaskatoonvancouvervictoria')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex2
points: 1

### Exercise 2
rubric={autograde:1}

Use the {tidyr} `drop_na` function to drop the rows in the {palmerpenguins} `penguins` data set that have NA's in the `body_mass_g` column. Bind the name `penguins_less_nas` to tibble you create.

# BEGIN SOLUTION

In [4]:
penguins_less_nas <- NULL
# BEGIN SOLUTION NO PROMPT
penguins_less_nas <- penguins %>%
    drop_na(body_mass_g)
# END SOLUTION

penguins_less_nas

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
4   Adelie    Torgersen 36.7           19.3          193
5   Adelie    Torgersen 39.3           20.6          190
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
338 Chinstrap Dream     55.8           19.8          207
339 Chinstrap Dream     43.5           18.1          202
340 Chinstrap Dream     49.6           18.2          193
341 Chinstrap Dream     50.8           19.0          210
342 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
4   3450        female 2007
5   3650        male   2007
⋮   ⋮           ⋮      ⋮
338 4000        male   2009
339 3400        female 2009
340 3775        male   2009
341 4100        male   2009
342 3775        female 2009

# END SOLUTION

# BEGIN TESTS

In [5]:
# TESTS
answer <- penguins_less_nas
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 342)
expect_equal(ncol(answer), 8)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'bill_depth_mmbill_length_mmbody_mass_gflipper_length_mmislandsexspeciesyear')
expect_equal(paste(round(as.numeric(sum(answer$body_mass_g))), collapse = ""), '1437000')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex3
points: 1

### Exercise 3
rubric={autograde:1}

Use the {tidyr} `drop_na` function to drop **all** the rows in the {palmerpenguins} `penguins` data set that have NA's in any column. Bind the name `penguins_no_nas` to tibble you create.

# BEGIN SOLUTION

In [6]:
penguins_no_nas <- NULL
# BEGIN SOLUTION NO PROMPT
penguins_no_nas <- penguins %>%
    drop_na()
# END SOLUTION

penguins_no_nas

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
4   Adelie    Torgersen 36.7           19.3          193
5   Adelie    Torgersen 39.3           20.6          190
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
329 Chinstrap Dream     55.8           19.8          207
330 Chinstrap Dream     43.5           18.1          202
331 Chinstrap Dream     49.6           18.2          193
332 Chinstrap Dream     50.8           19.0          210
333 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
4   3450        female 2007
5   3650        male   2007
⋮   ⋮           ⋮      ⋮
329 4000        male   2009
330 3400        female 2009
331 3775        male   2009
332 4100        male   2009
333 3775        female 2009

# END SOLUTION

# BEGIN TESTS

In [7]:
# TESTS
answer <- penguins_no_nas
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 333)
expect_equal(ncol(answer), 8)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'bill_depth_mmbill_length_mmbody_mass_gflipper_length_mmislandsexspeciesyear')
expect_equal(paste(round(as.numeric(sum(answer$body_mass_g))), collapse = ""), '1400950')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex4
points: 1

### Exercise 4
rubric={autograde:1}

<img src="img/group_by_ungroup.png" width=400>

*Illustration by Allison Horst*

Working with the {nycflights13} `planes` data set, calculate the average number of seats for planes of each engine type. Also count the number of planes for each engine type. Return the results together in one tibble, and name the columns `avg_seats` and `planes`. Bind the name `engine_summary` to this tibble.

*Hint: the {dply} function `n()` (with no arguements) will be useful to count the number of planes for each engine type.

# BEGIN SOLUTION

In [8]:
engine_summary <- NULL
# BEGIN SOLUTION NO PROMPT
engine_summary <- planes %>%
  group_by(engine) %>% 
  summarise(avg_seats = mean(seats),
            planes = n())
# END SOLUTION

engine_summary

  engine        avg_seats  planes
1 4 Cycle         3.000000    2
2 Reciprocating   7.785714   28
3 Turbo-fan     150.013091 2750
4 Turbo-jet     186.573832  535
5 Turbo-prop      9.500000    2
6 Turbo-shaft     8.600000    5

# END SOLUTION

# BEGIN TESTS

In [9]:
# TESTS
answer <- engine_summary
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 6)
expect_equal(ncol(answer), 3)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'avg_seatsengineplanes')
expect_equal(round(as.numeric(sum(answer$avg_seats))), 365)
expect_equal(round(as.numeric(sum(answer$planes))), 3322)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex5
points: 0
manual: true

### Exercise 5 (Optional - not graded)

*Solution posted at end of worksheet.*

Calculate the mean body mass for each sex of the Gentoo penguins species in the {palmerpenguins} `penguins` data set. Name the columns you create `mean_body_mass_g` and `mean_flipper_length_mm`.  Bind the name `gentoo_sex_size` to the tibble you create.

*Hint: return only the data for female and male penguins, you may need to use `drop_na` to do this.*

# BEGIN SOLUTION

In [10]:
gentoo_sex_size <- NULL
# BEGIN SOLUTION NO PROMPT
gentoo_sex_size <- penguins %>% 
    filter(species == "Gentoo") %>%
    drop_na(sex) %>%
    group_by(sex) %>%
    summarise(mean_body_mass_g = mean(body_mass_g, na.rm = TRUE),
             mean_flipper_length_mm = mean(flipper_length_mm, na.rm = TRUE))
# END SOLUTION

gentoo_sex_size

  sex    mean_body_mass_g mean_flipper_length_mm
1 female 4679.741         212.7069
2 male   5484.836         221.5410

# END SOLUTION

# BEGIN TESTS

In [11]:
# TESTS
answer <- gentoo_sex_size
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 2)
expect_equal(ncol(answer), 3)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'mean_body_mass_gmean_flipper_length_mmsex')
expect_equal(round(as.numeric(sum(answer$mean_body_mass_g))), 10165)
expect_equal(round(as.numeric(sum(answer$mean_flipper_length_mm))), 434)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex6
points: 1

### Exercise 6
rubric={autograde:1}

<img src="img/purrr_cat.png" width=300>

*Illustration by Allison Horst*

Re-write the for loop in base R code shown below (which calculates the standard deviation for the chemical columns in the `Pottery.csv` data set located at https://vincentarelbundock.github.io/Rdatasets/csv/carData/Pottery.csv) using an {purrr} `map_*` function such that you get equal output values, but so that the `map_*` function returns a data frame instead of a vector. Bind the name `pottery_sd_purrr` to the tibble you create.

This data set contains measurements of chemicals found in ancient pottery from four locations in Great Britain.

*Data set source: Hand, D. J., Daly, F., Lunn, A. D., McConway, K. J., and E., O. (1994) A Handbook of Small Data Sets. Chapman and Hall.*

# BEGIN SOLUTION

In [12]:
# read in data and subset chemical columns
pottery <- read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/carData/Pottery.csv") %>%
    select(Al:Na)

# calculate standard deviation for each column using a for loop
pottery_sd_loop <- vector("double", ncol(pottery))
for (i in seq_along(pottery)) {
    pottery_sd_loop[i] <- sd(pottery[[i]])
}
pottery_sd_loop

pottery_sd_purrr <- NULL
# BEGIN SOLUTION NO PROMPT
pottery_sd_purrr <- map_df(pottery, sd)
# END SOLUTION

pottery_sd_purrr

New names:
• `` -> `...1`
Rows: 26 Columns: 7
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Site
dbl (6): ...1, Al, Fe, Mg, Ca, Na

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 2.9926474 2.4097507 2.1797260 0.1012301 0.1352832

  Al       Fe       Mg       Ca        Na
1 2.992647 2.409751 2.179726 0.1012301 0.1352832

# END SOLUTION

# BEGIN TESTS

In [13]:
# TESTS
answer <- pottery_sd_purrr
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 1)
expect_equal(ncol(answer), 5)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'alcafemgna')
expect_equal(round(as.numeric(sum(answer$Al))), 3)
expect_equal(round(as.numeric(sum(answer$Fe))), 2)

# END TESTS

# END QUESTION

Congratulations! You are done the worksheet!!! Pat yourself on the back, and submit your worksheet to Gradescope!

> ###  Exercise 5 Solution


```
gentoo_sex_size <- penguins %>% 
    filter(species == "Gentoo") %>%
    drop_na(sex) %>%
    group_by(sex) %>%
    summarise(mean_body_mass_g = mean(body_mass_g, na.rm = TRUE),
             mean_flipper_length_mm = mean(flipper_length_mm, na.rm = TRUE))
```