# ASSIGNMENT CONFIG
requirements: requirements.R
generate:
    show_hidden: true
    show_stdout: true
    channel_priority_strict: false
environment: environment.yml

## Worksheet 7

Welcome to worksheet 7! This worksheet was designed to allow you to practice what was covered in the assigned readings & lectures/videos/recordings. The labs problems will be more challenging then those in the worksheet, and the worksheet questions will help prepare you for them. Time will be provided to work on the worksheets in small groups during lecture, however it is not expected that you will complete the worksheet in this time. You are expected to spend some indpendent time working on the worksheet after lecture. 

**Worksheets are due on Saturdays at 6pm, and must be submitted as `.ipynb` files to Gradescope.**

### Worksheet mechanics

- You submit a `.ipynb` version of this homework to Gradescope.
- **There is autograding in this lab, so please do not move or rename this file. Also, do not copy and paste cells, if you need to add new cells, create new cells via the "Insert a cell below" button instead.**

Run the cell below to load the libraries needed for this worksheet, as well as to check your answers as you go!

In [2]:
library(canlang)
library(tidyverse)
library(testthat)
options(repr.matrix.max.rows = 10)

# BEGIN QUESTION
name: ex1
points: 1

### Exercise 1
rubric={autograde:1}

Write an anonymous function in R that takes a single vector, `x`, and squares each element of a `x`. Pass it a vector containing the numbers from 1 to 10, inclusive. Save the output of the anonymous function to a variable name `squares`.

# BEGIN SOLUTION

In [3]:
squares <- NULL
# BEGIN SOLUTION NO PROMPT
squares <- (function(x) x ^ 2)(1:10)
# END SOLUTION
            
squares

 [1]   1   4   9  16  25  36  49  64  81 100

# END SOLUTION

# BEGIN TESTS

In [4]:
# TESTS
expect_true(is.numeric(squares))
expect_equal(length(squares), 10)
expect_equal(sum(as.numeric(squares)), 385)
expect_equal(squares[1], 1)
expect_equal(squares[10], 100)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex2
points: 1

### Exercise 2
rubric={autograde:1}

The `paste0` function in R is analagous to the `+` operator in Python for concatenating strings. Use `map_chr`, an anonymous function, and the `paste0` function to concatenate the list `month` with the value 2020 so that there is a comma and a single whitespace between the month and the year (e.g., "September, 2020"). Bind the name `months_2020` to the character vector you create.

# BEGIN SOLUTION

In [5]:
month <- list("January", "February", "March", "April", "May", "June", 
              "July", "August", "September", "October", "November", "December")

months_2020 <- NULL
# BEGIN SOLUTION NO PROMPT
# these two solutions are equivalent
months_2020 <- map_chr(month, function(list) paste0(list, ", ", 2020))
months_2020 <- map_chr(month, ~ paste0(., ", ", 2020))
# END SOLUTION
                       
months_2020

 [1] "January, 2020"   "February, 2020"  "March, 2020"     "April, 2020"
 [5] "May, 2020"       "June, 2020"      "July, 2020"      "August, 2020"
 [9] "September, 2020" "October, 2020"   "November, 2020"  "December, 2020"

# END SOLUTION

# BEGIN TESTS

In [6]:
# TESTS
expect_true(is.character(months_2020))
expect_equal(length(months_2020), 12)
expect_equal(months_2020[1], 'January, 2020')
expect_equal(months_2020[10], 'October, 2020')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex3
points: 1

### Exercise 3
rubric={autograde:1}

Use the `tibble` function to create a data frame from the `species` and `data` objects provided below. Your data frame should have 3 rows and two columns (`species` and `data`). The first column should be a character vector, the second column should be a list column, where each element is a tibble itself. Bind the name `nested_penguins` to the final tibble you create.

_**Hint: when working with list columns in Jupyter, use `print` to view the output as Jupyter does NOT have a good output for nested data frames yet.**_

# BEGIN SOLUTION

In [7]:
species <- c("Gentoo", "Chinstrap", "Adelie")

data <- list(tibble(island = c("Biscoe", "Biscoe"), sex = c("male", "female")),
             tibble(island = c("Dream", "Dream"), sex = c("male", "male")),
             tibble(island = c("Torgersen", "Dream"), sex = c("female", "female")))

nested_penguins <- NULL
# BEGIN SOLUTION NO PROMPT
nested_penguins <- tibble(species = species,
                         data = data) 
# END SOLUTION

print(nested_penguins)

# A tibble: 3 × 2
  species   data
  <chr>     <list>
1 Gentoo    <tibble [2 × 2]>
2 Chinstrap <tibble [2 × 2]>
3 Adelie    <tibble [2 × 2]>

# END SOLUTION

# BEGIN TESTS

In [8]:
# TESTS
expect_true(is.data.frame(nested_penguins))
expect_true(is.list(nested_penguins$data))
expect_true(is.character(nested_penguins$species))
expect_equal(nrow(nested_penguins), 3)
expect_equal(ncol(nested_penguins), 2)
expect_equal(paste(tolower(sort(colnames(nested_penguins))), collapse = ""), 'dataspecies')
expect_equal(nested_penguins$species[2], 'Chinstrap')
expect_equal(ncol(nested_penguins$data[[1]]), 2)
expect_equal(nrow(nested_penguins$data[[1]]), 2)
expect_equal(nested_penguins$data[[2]]$sex[2], 'male')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex4
points: 1

### Exercise 4
rubric={autograde:1}

Use {tidyr} `unnest` on the `nested_penguins` data set you created above to see what the unnested data frame would look like. Bind the name `unnested_penguins` to this new tibble.

*Hint: provide the argument `cols = c(data)` inside `unnest` to specify which column you would like to unnest.*

# BEGIN SOLUTION

In [9]:
unnested_penguins <- NULL
# BEGIN SOLUTION NO PROMPT
unnested_penguins <- nested_penguins %>% unnest(cols = c(data))
# END SOLUTION

print(unnested_penguins)

# A tibble: 6 × 3
  species   island    sex
  <chr>     <chr>     <chr>
1 Gentoo    Biscoe    male
2 Gentoo    Biscoe    female
3 Chinstrap Dream     male
4 Chinstrap Dream     male
5 Adelie    Torgersen female
6 Adelie    Dream     female

# END SOLUTION

# BEGIN TESTS

In [10]:
# TESTS
expect_true(is.data.frame(unnested_penguins))
expect_equal(nrow(unnested_penguins), 6)
expect_equal(ncol(unnested_penguins), 3)
expect_equal(paste(tolower(sort(colnames(unnested_penguins))), collapse = ""), 'islandsexspecies')
expect_equal(paste(tolower(sort(unique(unnested_penguins$island))), collapse = ""), 'biscoedreamtorgersen')
expect_equal(paste(tolower(sort(unique(unnested_penguins$sex))), collapse = ""), 'femalemale')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex5
points: 1

### Exercise 5
rubric={autograde:1}

Let's explore the {canlang} `region_lang` data set again! 

Use {dpylr}'s `group_by` and {tidyr}'s `nest` to create a nested data frame where the data for each language category (the column `category`) is nested in a list column named `data`. Your final data frame should have 3 rows and two columns (named `category` and `data`). Bind the name `nested_reg_lang` to it.

# BEGIN SOLUTION

In [11]:
nested_reg_lang <- NULL
# BEGIN SOLUTION NO PROMPT
nested_reg_lang <- region_lang %>% 
    group_by(category) %>% 
    nest()
# END SOLUTION

print(nested_reg_lang)

# A tibble: 3 × 2
# Groups:   category [3]
  category                                data
  <chr>                                   <list>
1 Aboriginal languages                    <tibble [2,345 × 6]>
2 Non-Official & Non-Aboriginal languages <tibble [5,075 × 6]>
3 Official languages                      <tibble [70 × 6]>

# END SOLUTION

# BEGIN TESTS

In [12]:
# TESTS
expect_true(is.data.frame(nested_reg_lang))
expect_equal(paste(tolower(sort(colnames(nested_reg_lang))), collapse = ""), 'categorydata')
expect_true(is.list(nested_reg_lang$data))
expect_true(is.character(nested_reg_lang$category))
expect_equal(nrow(nested_reg_lang), 3)
expect_equal(ncol(nested_reg_lang), 2)
expect_equal(nested_reg_lang$category[3], 'Official languages')
expect_equal(ncol(nested_reg_lang$data[[1]]), 6)
expect_equal(nrow(nested_reg_lang$data[[1]]), 2345)
expect_equal(nested_reg_lang$data[[2]]$mother_tongue[2], 75)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex6
points: 1

### Exercise 6
rubric={autograde:1}

Now let's do something insteresting with the `nested_reg_lang` data frame you created above!

Let's calculate the correlation between the number of people who speak a language at home with the number who speak that same language at work, for each language category. Add this summary statistic in the `nested_reg_lang` data set, and give the name `cor_home_work` to the column containing the correlations. Use {dplyr}'s `mutate`, {purrr}'s `map_dbl` an anonymouse function, and the base `cor` function to accomplish this.  Bind the name `nested_reg_lang_hw_cor` to this new data frame.

# BEGIN SOLUTION

In [13]:
nested_reg_lang_hw_cor <- NULL
# BEGIN SOLUTION NO PROMPT
nested_reg_lang_hw_cor <- nested_reg_lang %>% 
    mutate(cor_home_work = map_dbl(data, ~cor(.x$most_at_home, .x$most_at_work)))
# END SOLUTION

print(nested_reg_lang_hw_cor)

# A tibble: 3 × 3
# Groups:   category [3]
  category                                data                 cor_home_work
  <chr>                                   <list>                       <dbl>
1 Aboriginal languages                    <tibble [2,345 × 6]>         0.772
2 Non-Official & Non-Aboriginal languages <tibble [5,075 × 6]>         0.869
3 Official languages                      <tibble [70 × 6]>            0.989

# END SOLUTION

# BEGIN TESTS

In [14]:
# TESTS
expect_true(is.data.frame(nested_reg_lang_hw_cor))
expect_equal(paste(tolower(sort(colnames(nested_reg_lang_hw_cor))), collapse = ""), 'categorycor_home_workdata')
expect_true(is.list(nested_reg_lang_hw_cor$data))
expect_true(is.character(nested_reg_lang_hw_cor$category))
expect_true(is.numeric(nested_reg_lang_hw_cor$cor_home_work))
expect_equal(nrow(nested_reg_lang_hw_cor), 3)
expect_equal(ncol(nested_reg_lang_hw_cor), 3)
expect_equal(nested_reg_lang_hw_cor$category[3], 'Official languages')
expect_equal(ncol(nested_reg_lang_hw_cor$data[[1]]), 6)
expect_equal(nrow(nested_reg_lang_hw_cor$data[[1]]), 2345)
expect_equal(nested_reg_lang_hw_cor$data[[2]]$mother_tongue[2], 75)
expect_equal(nested_reg_lang_hw_cor$cor_home_work[1], 0.772, tolerance = 0.001)
expect_equal(nested_reg_lang_hw_cor$cor_home_work[3], 0.989, tolerance = 0.001)

# END TESTS

# END QUESTION

Congratulations! You are done the worksheet!!! Pat yourself on the back, and submit your worksheet to Gradescope!