# ASSIGNMENT CONFIG
requirements: requirements.R
generate:
    show_hidden: true
    show_stdout: true
    channel_priority_strict: false
environment: environment.yml

## Worksheet 8

Welcome to worksheet 8! This worksheet was designed to allow you to practice what was covered in the assigned readings & lectures/videos/recordings. The labs problems will be more challenging then those in the worksheet, and the worksheet questions will help prepare you for them. Time will be provided to work on the worksheets in small groups during lecture, however it is not expected that you will complete the worksheet in this time. You are expected to spend some indpendent time working on the worksheet after lecture. 

**Worksheets are due on Saturdays at 6pm, and must be submitted as `.ipynb` files to Gradescope.**

### Worksheet mechanics
rubric={mechanics:1}

- You submit a `.ipynb` version of this homework to Gradescope.
- **There is autograding in this lab, so please do not move or rename this file. Also, do not copy and paste cells, if you need to add new cells, create new cells via the "Insert a cell below" button instead.**

Run the cell below to load the libraries needed for this worksheet, as well as to check your answers as you go!

In [2]:
library(digest)
library(palmerpenguins)
library(stringr)
library(testthat)
library(tidyverse)
options(repr.matrix.max.rows = 10)

# BEGIN QUESTION
name: ex1
points: 1

### Exercise 1
rubric={autograde:1}

The `get_rectangle` function shown below does not work for unquoted column names. Use the `{{` operator to embrace the column names/user inputs given by the user so that the function works as described:

```
#' Get smaller rectangle from a bigger data frame
#' 
#' `get_rectangle` subsets a data frame using filter and select syntax.
#'
#' @param data A data frame to subset
#' @param row_filter filter logical syntax used to filter rows, column name should be unquoted.
#' @param column_range select syntax (single column or range via `col1:coln`) to 
#' select columns, default is everything
#'
#' @return A smaller/subsetted data frame
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' get_rectangle(penguins, body_mass_g > 3000, species:island)
get_rectangle <- function(data, row_filter, column_range = everything()) {
    data |> 
        filter(row_filter) |> 
        select(column_range)
}
```

*Hint: embracing works for more than just a column name - you can even embrace a variable that will hold a filter logical statement (e.g., `body_mass_g > 3000`).*

# BEGIN SOLUTION

In [3]:
# YOUR CORRECTED CODE HERE
# BEGIN SOLUTION NO PROMPT
#' Get smaller rectangle from a bigger data frame
#' 
#' `get_rectangle` subsets a data frame using filter and select syntax.
#'
#' @param data A data frame to subset
#' @param row_filter filter logical syntax used to filter rows, column name should be unquoted.
#' @param column_range select syntax (single column or range via `col1:coln`) to 
#' select columns, default is everything
#'
#' @return A smaller/subsetted data frame
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' get_rectangle(penguins, body_mass_g > 3000, species:island)
get_rectangle <- function(data, row_filter, column_range = everything()) {
    data |> 
        filter({{ row_filter }}) |> 
        select({{ column_range }})
}
# END SOLUTION

get_rectangle(penguins, body_mass_g > 3000, species:island)

    species   island
1   Adelie    Torgersen
2   Adelie    Torgersen
3   Adelie    Torgersen
4   Adelie    Torgersen
5   Adelie    Torgersen
⋮   ⋮         ⋮
327 Chinstrap Dream
328 Chinstrap Dream
329 Chinstrap Dream
330 Chinstrap Dream
331 Chinstrap Dream

# END SOLUTION

# BEGIN TESTS

In [4]:
# TESTS
fun_body <- paste(deparse(body(get_rectangle)), collapse = "")
answer <- get_rectangle(penguins, body_mass_g > 3000, species:island)
answer2 <- get_rectangle(penguins, body_mass_g > 3000)
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 331)
expect_equal(ncol(answer), 2)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'islandspecies')
expect_equal(nrow(answer2), 331)
expect_equal(ncol(answer2), 8)
expect_equal(paste(tolower(sort(colnames(answer2))), collapse = ""), 'bill_depth_mmbill_length_mmbody_mass_gflipper_length_mmislandsexspeciesyear')
expect_true(str_detect(fun_body, "\\{[ ]*\\{[ ]*row_filter[ ]*\\}[ ]*\\}"))
expect_true(str_detect(fun_body, "\\{[ ]*\\{[ ]*column_range[ ]*\\}[ ]*\\}"))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex2
points: 1

### Exercise 2
rubric={autograde:1}

Why do we need to embrace the columns with `{{` (or do something else that is equivalent) when writing functions %>% that wrap {tidyverse} functions when we want to pass unquoted column names in as function arguments? Choose all answers listed below that you think are correct:

A. R performs lazy, not eager, evaluation of function arguments

B. A data frame column name is not something that is known/accessible in the global environment

C. Column names cannot be referred to as strings in R

D. `{{` quotes the column names, and then unquotes and evaluates them inside the data mask - where they can be successfully evaluated

Create a character vector of the answers above you think are correct, for example, `c("E", "F")`. Bind the name `answer_2` to this vector.

# BEGIN SOLUTION

In [5]:
answer_2 <- NULL
# BEGIN SOLUTION NO PROMPT
answer_2 <- c("B", "D")
# END SOLUTION
answer_2

[1] "B" "D"

# END SOLUTION

# BEGIN TESTS

In [6]:
# TESTS
expect_equal(digest(paste(sort(tolower(answer_2)), collapse = "")), '95767987b2037a2f09c4e5c0997ec206')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex3
points: 1

### Exercise 3
rubric={autograde:1}

The `nest_and_count function` shown below does not work. Your task is to identify why and fix it so that the function works as described:

```
#' Nest data and count observations in each group
#'
#' @param data A data frame
#' @param nest_by A column to group by. Column name should be unquoted.
#' @param col_name A new column name for the count column. Column name should be unquoted.
#'
#' @return A data frame where the data, other than the group specified in 
#' `nest_by`, is nested. The number of rows for each data frame in the list
#' column is given in a column whose name is specified by the user.
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' nest_and_count(penguins, species, n)
nest_and_count <- function(data, nest_by, col_name) {
    data |> 
        group_by({{ nest_by }}) |> 
        nest() |> 
        mutate({{ col_name }} = map_dbl(data, nrow))
}
```

# BEGIN SOLUTION

In [7]:
# YOUR CORRECTED CODE HERE
# BEGIN SOLUTION NO PROMPT
#' Nest data and count observations in each group
#'
#' @param data A data frame
#' @param nest_by A column to group by. Column name should be unquoted.
#' @param col_name A new column name for the count column. Column name should be unquoted.
#'
#' @return A data frame where the data, other than the group specified in 
#' `nest_by`, is nested. The number of rows for each data frame in the list
#' column is given in a column whose name is specified by the user.
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' nest_and_count(penguins, species, n)
nest_and_count <- function(data, nest_by, col_name) {
    data |> 
        group_by({{ nest_by }}) |> 
        nest() |>
        mutate({{ col_name }} := map_dbl(data, nrow))
}
# END SOLUTION

nest_and_count(penguins, species, n) |> print()

# A tibble: 3 × 3
# Groups:   species [3]
  species   data                   n
  <fct>     <list>             <dbl>
1 Adelie    <tibble [152 × 7]>   152
2 Gentoo    <tibble [124 × 7]>   124
3 Chinstrap <tibble [68 × 7]>     68

# END SOLUTION

# BEGIN TESTS

In [8]:
# TESTS
fun_body <- paste(deparse(body(nest_and_count)), collapse = "")
answer <- nest_and_count(penguins, species)
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 3)
expect_equal(ncol(answer), 3)
expect_equal(paste(tolower(sort(colnames(answer)[1:2])), collapse = ""), 'dataspecies')
expect_equal(sum(as.numeric(answer[[3]])), 344)
expect_true(str_detect(fun_body, ":="))

In [9]:
colnames(answer)[1:2]

[1] "species" "data"

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex4
points: 1

### Exercise 4
rubric={autograde:1}

Take the function you fixed in exercise 1 and **rename it** `get_rectangle2`. Now make it work better with select syntax by added pass the dots, `...`, in place of `column_range`. When you do this, play with inputs to this function, what can you do with `...` as opposed to using a named argument? *Hint: try selecting columns that are not beside each other.* What can't you do? *Hint: think about function argument defaults.*

# BEGIN SOLUTION

In [10]:
# YOUR BETTER CODE HERE
# BEGIN SOLUTION NO PROMPT
#' Get smaller rectangle from a bigger data frame
#' 
#' `get_rectangle2` subsets a data frame using filter and select syntax.
#'
#' @param data A data frame to subset
#' @param row_filter filter logical syntax used to filter rows
#' @param column_range select syntax to select columns
#'
#' @return A smaller/subsetted data frame
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' get_rectangle2(penguins, body_mass_g > 3000, species:island)
get_rectangle2 <- function(data, row_filter, ...) {
    data |>
        filter({{ row_filter }}) |>
        select(...)
}
# END SOLUTION

get_rectangle2(penguins, body_mass_g > 3000, species:island)

    species   island
1   Adelie    Torgersen
2   Adelie    Torgersen
3   Adelie    Torgersen
4   Adelie    Torgersen
5   Adelie    Torgersen
⋮   ⋮         ⋮
327 Chinstrap Dream
328 Chinstrap Dream
329 Chinstrap Dream
330 Chinstrap Dream
331 Chinstrap Dream

# END SOLUTION

# BEGIN TESTS

In [11]:
# TESTS
fun_body <- paste(deparse(body(get_rectangle2)), collapse = "")
answer <- get_rectangle2(penguins, body_mass_g > 3000, species:island)
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 331)
expect_equal(ncol(answer), 2)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'islandspecies')
expect_true(str_detect(fun_body, "\\{[ ]*\\{[ ]*row_filter[ ]*\\}[ ]*\\}"))
expect_true(str_detect(fun_body, "select(...)"))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex5
points: 1

### Exercise 5
rubric={autograde:1}

Write a function called `select_and_arrange` whose documentation we provide below. This function should use embracing with `{{` and pass the dots `...` syntax to accomplish it's job.

```
#' Select and arrange
#'
#' @param data A data frame
#' @param sort_by A column that you would like to order the data frame by in 
#' ascending order. Column name should be unquoted.
#' @param ... columns you would like to select using select syntax
#'
#' @return A data frame ordered by ascending order of the `sort_by` column and 
#' containing the columns as indicated by the user using select syntax in `...`
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' select_and_arrange(penguins, body_mass_g, species:island, sex)
```

# BEGIN SOLUTION

In [12]:
select_and_arrange <- NULL
# BEGIN SOLUTION NO PROMPT
select_and_arrange <- function(data, sort_by, ...) {
    data |> 
        arrange({{ sort_by }}) |> 
        select(...)
}
# END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [13]:
# TESTS
fun_body <- paste(deparse(body(select_and_arrange)), collapse = "")
answer <- select_and_arrange(penguins, body_mass_g, species:island, sex)
expect_true(is.data.frame(answer))
expect_equal(nrow(answer), 344)
expect_equal(ncol(answer), 3)
expect_equal(paste(tolower(sort(colnames(answer))), collapse = ""), 'islandsexspecies')
expect_true(str_detect(fun_body, "\\{[ ]*\\{[ ]*sort_by[ ]*\\}[ ]*\\}"))
expect_true(str_detect(fun_body, "select(...)"))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex6
points: 1

### Exercise 6
rubric={autograde:1}

This is your last worksheet question for this course! Congrats! This one is a choose your own adventure. Write any function that takes a data frame, and an quoted column name. Use either `{{` or `..` (or both!) to deal with the unquoted column name(s). All you need to do is make sure it works. Be creative! 

We provide a function name so we can test that you used `{{` or `..`. Feel free to add whatever else you want to it, just don't change the `have_fun` function name.

# BEGIN SOLUTION

In [14]:
have_fun <- function() { # add as many arguments as you want!
    # put your function magic here!
}
# BEGIN SOLUTION NO PROMPT
#' Have fun randomly sampling different group sizes!
#'
#' Based off a challenge by Hilary Parker (Data Science Product Manager
#' for the 2020 Democratic US Presidential Election Campaign) to Jenny Bryan
#' where the challenge was to randomly sample differnt numbers from each of the
#' groups. Jenny's code which this is base off is here: https://jennybc.github.io/purrr-tutorial/ls12_different-sized-samples.html
#'
#' @param data A data frame
#' @param col A column that you would like to group by
#'
#' @return A data frame with a random number of samples for each group (and the 
#' random number varies for each group)
#' @export
#'
#' @examples
#' library(palmerpenguins)
#' have_fun(penguins, species)
have_fun <- function(data, col) { 
    n_groups <- data |> 
        pull({{ col }}) |> 
        unique() |> 
        length() 
    
    n_group_obs <- data |> 
        group_by({{ col }}) |> 
        summarise(n = n()) |> 
        pull(n)
    
    n_to_sample <- map_dbl(n_group_obs, ~round(runif(1, min = 1, max = .)))
    
    data |>
        group_by({{ col }}) |> 
            nest() |>    
            arrange(species) |> 
            ungroup() |> 
            mutate(n = n_to_sample) |>
            mutate(samp = map2(data, n, sample_n)) |> 
            select(-data) |>
            unnest(samp)
}

have_fun(penguins, species)
# END SOLUTION

    species n   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie  148 Torgersen 37.3           20.5          199
2   Adelie  148 Dream     36.9           18.6          189
3   Adelie  148 Biscoe    41.1           19.1          188
4   Adelie  148 Torgersen 37.8           17.3          180
5   Adelie  148 Torgersen 36.2           16.1          187
⋮   ⋮       ⋮   ⋮         ⋮              ⋮             ⋮
284 Gentoo  97  Biscoe    51.1           16.5          225
285 Gentoo  97  Biscoe    52.1           17.0          230
286 Gentoo  97  Biscoe    50.8           15.7          226
287 Gentoo  97  Biscoe    43.5           15.2          213
288 Gentoo  97  Biscoe    48.4           14.6          213
    body_mass_g sex    year
1   3775        male   2009
2   3500        female 2008
3   4100        male   2008
4   3700        NA     2007
5   3550        female 2008
⋮   ⋮           ⋮      ⋮
284 5250        male   2009
285 5550        male   2009
286 5200        male   2009
287 4650        female 2009
288 5850        male   2007

# END SOLUTION

# BEGIN TESTS

In [15]:
# TESTS
fun_body <- paste(deparse(body(have_fun)), collapse = "")
expect_true(str_detect(fun_body, "[.]{3}|\\{[ ]*\\{[ ]*"))

# END TESTS

# END QUESTION

Congratulations! You are done the **LAST** worksheet!!! Pat yourself on the back, and submit your worksheet to Gradescope!

![](https://media.giphy.com/media/13n4Hd98ewKJsQ/giphy.gif)