# ASSIGNMENT CONFIG
requirements: requirements.R
generate:
    show_hidden: true
    show_stdout: true
    channel_priority_strict: false
environment: environment.yml
files:
  - img
  - data

## Worksheet 3

Welcome to worksheet 3! This worksheet was designed to allow you to practice what was covered in the assigned readings & lectures/videos/recordings. The labs problems will be more challenging then those in the worksheet, and the worksheet questions will help prepare you for them. Time will be provided to work on the worksheets in small groups during lecture, however it is not expected that you will complete the worksheet in this time. You are expected to spend some indpendent time working on the worksheet after lecture. 

**Worksheets are due on Saturdays at 6pm, and must be submitted as `.ipynb` files to Gradescope.**

### Worksheet mechanics

- You submit a `.ipynb` version of this homework to Gradescope.
- **There is autograding in this lab, so please do not move or rename this file. Also, do not copy and paste cells, if you need to add new cells, create new cells via the "Insert a cell below" button instead.**

Run the cell below to load the libraries needed for this worksheet, and to check your answers as you go!

In [1]:
library(canlang)
library(lubridate)
library(nycflights13)
library(tidyverse)
library(testthat)
library(digest)
options(repr.matrix.max.rows = 10)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


── Attaching packages ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ lubridate::as.difftime() masks base::as.difftime()
✖ lubridate::date()        masks base::date()
✖ dplyr::filter()          masks stats::filter()
✖ lubridate::intersect()   masks base::intersect()
✖ dplyr::lag()             masks stats::lag()
✖ lubridate::setdiff()     masks base::setdiff()
✖ lubridate::union()       masks base::union()

Attaching package: ‘testthat’


The following object is masked from ‘package:dplyr’:

    matches


The following object is masked from ‘package:purrr’:

    is_null


The following objects are masked from ‘package:readr’:

    edition_get, local_edition


The following object is masked from ‘package:tidyr’:

    matches

# Dates and times!

The next couple questions will be focused on getting you practice working with dates and times using the {[lubridate](https://lubridate.tidyverse.org/)} R package. 

Don't forget to reference the [Dates and Times Cheatsheet](https://github.com/rstudio/cheatsheets/raw/main/lubridate.pdf) if you need help remembering things from lecture!

<img src="https://github.com/allisonhorst/stats-illustrations/blob/main/rstats-artwork/lubridate.png?raw=true" width=400>

*Illustrator: Allison Horst*

# BEGIN QUESTION
name: ex1
points: 1

### Exercise 1
rubric={autograde:1}

Use the appropriate {lubridate} function to parse each of the dates given below. Bind the names `answer_1`, `answer_2`, `answer_3`, `answer_4`, `answer_5`, respectively, to the parsed dates.

# BEGIN SOLUTION

In [2]:
d1 <- "January 1, 2010"
d2 <- "2015-Mar-07"
d3 <- "06-Jun-2017"
d4 <- c("August 19 (2015)", "July 1 (2015)")
d5 <- "12/30/14" # Dec 30, 2014

answer_1 <- NULL
answer_2 <- NULL
answer_3 <- NULL
answer_4 <- NULL
answer_5 <- NULL
# BEGIN SOLUTION NO PROMPT
answer_1 <- mdy(d1)
answer_2 <- ymd(d2)
answer_3 <- dmy(d3)
answer_4 <- mdy(d4)
answer_5 <- mdy(d5)
# END SOLUTION

answer_1
answer_2
answer_3
answer_4
answer_5

[1] "2010-01-01"

[1] "2015-03-07"

[1] "2017-06-06"

[1] "2015-08-19" "2015-07-01"

[1] "2014-12-30"

# END SOLUTION

# BEGIN TESTS

In [3]:
# TESTS
# test 1_1
expect_equal(class(answer_1), 'Date')
expect_equal(digest(as.character(answer_1)), 'af34296507d90a47d83c0e6d7ccf528c')
# test 1_2
expect_equal(class(answer_2), 'Date')
expect_equal(digest(as.character(answer_2)), '0dc3e72e7535e3d3378f7fee34e32da5')
# test 1_3
expect_equal(class(answer_3), 'Date')
expect_equal(digest(as.character(answer_3)), '63b4cce8c63b1e73d428dc1f9dbd7600')
# test 1_4
expect_equal(class(answer_1), 'Date')
expect_equal(length(answer_4), 2)
expect_equal(digest(paste(sort(as.character(answer_4)), collapse="")), 'a81259f0cd6c9b59c1904963d15175e9')
# test 1_5
expect_equal(class(answer_5), 'Date')
expect_equal(digest(as.character(answer_5)), '10626e8d4ecc62564ef221e9be42f4f1')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex2
points: 1

### Exercise 2
rubric={autograde:1}

Let's go the other way now with dates - let's use the {lubridate} function `wday` get the day of week from the date vector given below. Make sure the day returned is the full name of the weekday (e.g., "Monday" and not "Mon"). To ensure this, look a the `label` and `abbr` function arguments.

Bind the name `days_of_week` to the new vector of months you create.

# BEGIN SOLUTION

In [4]:
dates <- c("1982-01-25 01:50:12",
          "1967-09-19 19:09:59",
          "1999-04-07 22:02:44",
          "2050-12-15 03:24:38",
          "2020-01-31 11:59:59",
          "2009-01-31 01:32:05",
          "2010-01-31 23:03:17")

days_of_week <- NULL
days_of_week <- wday(dates, label = TRUE, abbr = FALSE) # SOLUTION NO PROMPT

days_of_week

[1] Monday    Tuesday   Wednesday Thursday  Friday    Saturday  Sunday
7 Levels: Sunday < Monday < Tuesday < Wednesday < Thursday < ... < Saturday

# END SOLUTION

# BEGIN TESTS

In [5]:
# TESTS
expect_true(is.factor(days_of_week))
expect_equal(length(days_of_week), 7)
expect_equal(digest(paste(tolower(sort(as.character(days_of_week))), collapse="")), '59e0c874408c2e1b9e2966b20f588b34')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex3
points: 1

### Exercise 3
rubric={autograde:1}

Let's create a date interval, so that in the following question we can ask whether a date (or dates) falls within that interval! Use the `interval` function to create an interval named `mds_2022_2023` for the time period of when MDS is in session for this upcoming year (so an interval between September 3rd, 2022 and June 30th, 2023). *Note: you can ignore time zones for this.*

# BEGIN SOLUTION

In [6]:
mds_2022_2023 <- NULL
mds_2022_2023 <- interval(ymd("2022/09/03"), ymd("2023/06/30")) # SOLUTION NO PROMPT
mds_2022_2023

[1] 2022-09-03 UTC--2023-06-30 UTC

# END SOLUTION

# BEGIN TESTS

In [7]:
# TESTS
expect_true(exists("mds_2022_2023"))
expect_s4_class(mds_2022_2023, "Interval")
expect_equal(substr(as.character(mds_2022_2023),start = 1, stop = 10), "2022-09-03")
expect_equal(substr(as.character(mds_2022_2023),start = 17, stop = 26), "2023-06-30")
expect_equal(substr(as.character(mds_2022_2023),start = 12, stop = 14), "UTC")
expect_equal(mds_2022_2023@.Data, 25920000)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex4
points: 1

### Exercise 4
rubric={autograde:1}

Using the interval from exercise 3, `filter` the data set below to return just the rows from the `canada_2022-23.csv` data set (which can be found in the `data` directory) which have the Canadian statuatory holidays that fall during the 2022-23 MDS academic session. Name the data frame containing those rows `mds_stat_holidays_2022_23`.

A couple hints:
- the `date` column should be converted to the class "Date"
- `%within%` is useful for pairing with `filter` to get rows in an interval

# BEGIN SOLUTION

In [8]:
mds_stat_holidays_2022_23 <- NULL
# BEGIN SOLUTION NO PROMPT
mds_stat_holidays_2022_23 <- read_csv("data/canada_2022-23.csv", skip = 2) |>
  mutate(date = mdy(date)) |>
  filter(date %within% mds_2022_2023)
# END SOLUTION
mds_stat_holidays_2022_23

Rows: 26 Columns: 3
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): date, day_of_week, holiday

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   date       day_of_week holiday
1  2022-09-05 Monday      Labour Day
2  2022-10-10 Monday      Thanksgiving
3  2022-11-11 Friday      Remembrance Day
4  2022-12-25 Sunday      Christmas Day
5  2022-12-26 Monday      Boxing Day
⋮  ⋮          ⋮           ⋮
7  2023-04-07 Friday      Good Friday
8  2023-04-09 Sunday      Easter Sunday
9  2023-05-14 Sunday      Mother's Day
10 2023-05-22 Monday      Victoria Day
11 2023-06-18 Sunday      Father's Day

# END SOLUTION

# BEGIN TESTS

In [9]:
# TESTS
expect_true(exists("mds_stat_holidays_2022_23"))
expect_named(mds_stat_holidays_2022_23, c("date", "day_of_week", "holiday"), ignore.order = TRUE)
expect_s3_class(mds_stat_holidays_2022_23, "tbl_df")
expect_type(mds_stat_holidays_2022_23$day_of_week, "character")
expect_type(mds_stat_holidays_2022_23$holiday, "character")
expect_s3_class(mds_stat_holidays_2022_23$date, "Date")
expect_equal(nrow(mds_stat_holidays_2022_23), 11)
expect_equal(ncol(mds_stat_holidays_2022_23), 3)
expect_equal(nrow(filter(mds_stat_holidays_2022_23, day_of_week == "Monday")), 4)
expect_equal(nrow(filter(mds_stat_holidays_2022_23, day_of_week == "Sunday")), 5)

# END TESTS

# END QUESTION

# Strings!

The next couple questions will be focused on getting you practice working with strings using the {[stringr](https://stringr.tidyverse.org/)} package. To do this, we will work with the `region_lang` data set again from the {can_lang} package. 

Don't forget to reference the [Work with Strings Cheatsheet](https://github.com/rstudio/cheatsheets/blob/main/strings.pdf) if you need help remembering things from lecture!

<img src="https://github.com/allisonhorst/stats-illustrations/blob/main/rstats-artwork/str_squish.png?raw=true" width=500>

*Illustrator: Allison Horst*

# BEGIN QUESTION
name: ex5
points: 1

### Exercise 5
rubric={autograde:1}

Sometimes we want to `filter` for rows that contain part of string, either because we do not know the exact string to test for in our `filter` function, or because we want to do partial string matching. The {stringr} `str_detect` function can be really useful for this. We can nest it inside our call to `filter` as demonstrated below:

```
data_frame %>% 
    filter(str_detect(column_name, "pattern_to_match"))
```

Your task here is to use `filter` + `str_detect` to obtain rows for the region containing Canada's capital city: "Ottawa"(the `region` column of `region_lang` data frame). Bind the name `ottawa_region` to the data frame.

# BEGIN SOLUTION

In [10]:
ottawa_region <- NULL
ottawa_region <- region_lang %>% # SOLUTION NO PROMPT
    filter(str_detect(region, "Ottawa")) # SOLUTION NO PROMPT

ottawa_region

    region            category
1   Ottawa - Gatineau Aboriginal languages
2   Ottawa - Gatineau Non-Official & Non-Aboriginal languages
3   Ottawa - Gatineau Non-Official & Non-Aboriginal languages
4   Ottawa - Gatineau Non-Official & Non-Aboriginal languages
5   Ottawa - Gatineau Non-Official & Non-Aboriginal languages
⋮   ⋮                 ⋮
210 Ottawa - Gatineau Non-Official & Non-Aboriginal languages
211 Ottawa - Gatineau Aboriginal languages
212 Ottawa - Gatineau Non-Official & Non-Aboriginal languages
213 Ottawa - Gatineau Non-Official & Non-Aboriginal languages
214 Ottawa - Gatineau Non-Official & Non-Aboriginal languages
    language                       mother_tongue most_at_home most_at_work
1   Aboriginal languages, n.o.s.    10             0          0
2   Afrikaans                      175            40          0
3   Afro-Asiatic languages, n.i.e.  80            20          0
4   Akan (Twi)                     390           130          0
5   Albanian                       710           320          0
⋮   ⋮                              ⋮             ⋮            ⋮
210 Wolof                          275           100           0
211 Woods Cree                       5             5           0
212 Wu (Shanghainese)              455           250           0
213 Yiddish                        180            10           0
214 Yoruba                         265            65          10
    lang_known
1     0
2   450
3   205
4   700
5   865
⋮   ⋮
210 710
211  25
212 435
213 355
214 910

# END SOLUTION

# BEGIN TESTS

In [11]:
# TESTS
expect_equal(nrow(ottawa_region), 214)
expect_equal(ncol(ottawa_region), 7)
expect_equal(paste(tolower(sort(colnames(ottawa_region))), collapse = ""), 'categorylang_knownlanguagemost_at_homemost_at_workmother_tongueregion')
expect_equal(round(as.numeric(sum(ottawa_region$mother_tongue, na.rm = TRUE))), 1265230)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex6
points: 1

### Exercise 6
rubric={autograde:1}

Often times we need to change a string in a data frame column. We can use `mutate` and the {stringr} `str_replace` function to do this. We can nest it inside our call to `mutate` as demonstrated below:

```
data_frame %>% 
    mutate(col_name = str_replace(column_name, "pattern_to_match", "replacement"))
```

Your task here is to use `mutate` + `str_replace` to replace all the `-`'s with `&`'s in the `region` column of `region_lang` data frame. Bind the name `replaced_dash` to the data frame.

# BEGIN SOLUTION

In [12]:
replaced_dash <- NULL
replaced_dash <- region_lang |> # SOLUTION NO PROMPT
    mutate(region = str_replace(region, "-", "&")) # SOLUTION NO PROMPT

replaced_dash

     region               category
1    St. John's           Aboriginal languages
2    Halifax              Aboriginal languages
3    Moncton              Aboriginal languages
4    Saint John           Aboriginal languages
5    Saguenay             Aboriginal languages
⋮    ⋮                    ⋮
7486 Ottawa & Gatineau    Non-Official & Non-Aboriginal languages
7487 Kelowna              Non-Official & Non-Aboriginal languages
7488 Abbotsford & Mission Non-Official & Non-Aboriginal languages
7489 Vancouver            Non-Official & Non-Aboriginal languages
7490 Victoria             Non-Official & Non-Aboriginal languages
     language                     mother_tongue most_at_home most_at_work
1    Aboriginal languages, n.o.s. 5             0            0
2    Aboriginal languages, n.o.s. 5             0            0
3    Aboriginal languages, n.o.s. 0             0            0
4    Aboriginal languages, n.o.s. 0             0            0
5    Aboriginal languages, n.o.s. 5             5            0
⋮    ⋮                            ⋮             ⋮            ⋮
7486 Yoruba                       265           65           10
7487 Yoruba                         5            0            0
7488 Yoruba                        20            0            0
7489 Yoruba                       190           40            0
7490 Yoruba                        20            0            0
     lang_known
1    0
2    0
3    0
4    0
5    0
⋮    ⋮
7486 910
7487   0
7488  50
7489 505
7490  90

# END SOLUTION

# BEGIN TESTS

In [13]:
# TESTS
expect_equal(nrow(replaced_dash), 7490)
expect_equal(ncol(replaced_dash), 7)
expect_equal(paste(tolower(sort(colnames(replaced_dash))), collapse = ""), 'categorylang_knownlanguagemost_at_homemost_at_workmother_tongueregion')
expect_equal(round(as.numeric(sum(replaced_dash$mother_tongue, na.rm = TRUE))), 23970555)
expect_true(replaced_dash %>% 
                filter(str_detect(region, "Ottawa")) %>% 
                slice(1) %>% 
                pull(region) %>% 
                str_detect('Ottawa & Gatineau'))
expect_true(replaced_dash %>% 
                filter(str_detect(region, "Abbotsford")) %>% 
                slice(1) %>% 
                pull(region) %>% 
                str_detect('Abbotsford & Mission'))

# END TESTS

# END QUESTION

# Factors!

The next couple questions will be focused on getting you practice working with factors using some base R functions and the {[forcats](https://forcats.tidyverse.org/)} package. Don't forget to reference the [Factors with forcats Cheatsheet](https://github.com/rstudio/cheatsheets/raw/main/factors.pdf) if you need help remembering things from lecture!

<img src="https://d33wubrfki0l68.cloudfront.net/d933c65c70add32da585abadaf14fbf3002c6ffc/d42f0/blog/2019/05/forcats-0-4-0/forcats-0-4-0-wd.jpg">

We will be working with the `airports` data set which comes from the {[nycflights13](https://github.com/hadley/nycflights13)} R data package. The `airports` data set contains information about airports in the United States, Puerto Rico, and the American Virgin Islands.

# BEGIN QUESTION
name: ex7
points: 1

### Exercise 7
rubric={autograde:1}

Convert the `tzone` column in the `airports` data set into a factor. Bind the name `airports_factor` to this data frame. Use the `levels` function to get the levels of the `tzone` column. Store these in a vector named `tzone_levels`.

# BEGIN SOLUTION

In [14]:
airports_factor <- NULL

tzone_levels <- NULL
# BEGIN SOLUTION NO PROMPT
airports_factor <- airports %>%
  mutate(tzone = factor(tzone))

tzone_levels <- airports_factor %>%
  pull(tzone) %>%
  levels()
# END SOLUTION

head(airports_factor)
tzone_levels

  faa name                           lat      lon       alt  tz dst
1 04G Lansdowne Airport              41.13047 -80.61958 1044 -5 A
2 06A Moton Field Municipal Airport  32.46057 -85.68003  264 -6 A
3 06C Schaumburg Regional            41.98934 -88.10124  801 -6 A
4 06N Randall Airport                41.43191 -74.39156  523 -5 A
5 09J Jekyll Island Airport          31.07447 -81.42778   11 -5 A
6 0A9 Elizabethton Municipal Airport 36.37122 -82.17342 1593 -5 A
  tzone
1 America/New_York
2 America/Chicago
3 America/Chicago
4 America/New_York
5 America/New_York
6 America/New_York

[1] "America/Anchorage"   "America/Chicago"     "America/Denver"
[4] "America/Los_Angeles" "America/New_York"    "America/Phoenix"
[7] "America/Vancouver"   "Asia/Chongqing"      "Pacific/Honolulu"

# END SOLUTION

# BEGIN TESTS

In [15]:
# TESTS
expect_equal(nrow(airports_factor), 1458)
expect_equal(ncol(airports_factor), 8)
expect_equal(paste(tolower(sort(colnames(airports_factor))), collapse = ""), 'altdstfaalatlonnametztzone')
expect_equal(round(as.numeric(sum(airports_factor$alt, na.rm = TRUE))), 1460064)
expect_true(is.character(tzone_levels))
expect_equal(length(tzone_levels), 9)
expect_equal(digest(paste(tolower(sort(colnames(tzone_levels))), collapse = "")), '2f88e16c4f21bfcb290b2a8288c05bd0')

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: ex8
points: 1

### Exercise 8
rubric={autograde:1}

Filter the `airports_factor` data to remove observations associated with the time zone of `Pacific/Honolulu`, `Asia/Chongqing` and rows with no time zone information. Then use `fct_drop` to remove unused factor levels. Bind the name `airports_mainland` to the modified data frame. Use the `levels` function to get the levels of the `tzone` column. Store these in a vector named `tzone_levels_mainland`.

*Hint - `filter` can be used to remove observations using the not equals syntax: `!=`*

# BEGIN SOLUTION

In [16]:
airports_mainland <- NULL

tzone_levels_mainland <- NULL
# BEGIN SOLUTION NO PROMPT
airports_mainland <- airports_factor %>%
  filter(tzone != "Pacific/Honolulu", tzone != "Asia/Chongqing") %>%
  mutate(tzone = fct_drop(tzone))

tzone_levels_mainland <- airports_mainland %>%
  pull(tzone) %>%
  levels()
# END SOLUTION

head(airports_mainland)
tzone_levels_mainland

  faa name                           lat      lon       alt  tz dst
1 04G Lansdowne Airport              41.13047 -80.61958 1044 -5 A
2 06A Moton Field Municipal Airport  32.46057 -85.68003  264 -6 A
3 06C Schaumburg Regional            41.98934 -88.10124  801 -6 A
4 06N Randall Airport                41.43191 -74.39156  523 -5 A
5 09J Jekyll Island Airport          31.07447 -81.42778   11 -5 A
6 0A9 Elizabethton Municipal Airport 36.37122 -82.17342 1593 -5 A
  tzone
1 America/New_York
2 America/Chicago
3 America/Chicago
4 America/New_York
5 America/New_York
6 America/New_York

[1] "America/Anchorage"   "America/Chicago"     "America/Denver"
[4] "America/Los_Angeles" "America/New_York"    "America/Phoenix"
[7] "America/Vancouver"

# END SOLUTION

# BEGIN TESTS

In [17]:
# TESTS
expect_equal(nrow(airports_mainland), 1435)
expect_equal(ncol(airports_mainland), 8)
expect_equal(paste(tolower(sort(colnames(airports_mainland))), collapse = ""), 'altdstfaalatlonnametztzone')
expect_equal(round(as.numeric(sum(airports_mainland$alt, na.rm = TRUE))), 1445986)
expect_true(is.factor(airports_mainland$tzone))
expect_true(is.character(tzone_levels_mainland))
expect_equal(length(tzone_levels_mainland), 7)
expect_equal(digest(paste(tolower(sort(colnames(tzone_levels_mainland))), collapse = "")), '2f88e16c4f21bfcb290b2a8288c05bd0')

# END TESTS

# END QUESTION

Congratulations! You are done the worksheet!!! Pat yourself on the back, and submit your worksheet to Gradescope!